# Ignore node_modules (dossier contenant les dépendances frontend)
node_modules/

# Ignore les fichiers de l'environnement Python
__pycache__/
*.pyc
*.pyo

# Ignore les fichiers de base de données locaux
*.sqlite3

# Ignore les fichiers générés par Django collectstatic
/staticfiles/

# Ignore les fichiers d’environnement
.env

# Ignore les dossiers de l'éditeur
.vscode/
.idea/

